nltk==3.9.1
numpy==2.2.3
pandas==2.2.3
spacy==3.8.4
pyyaml==6.0.2
scikit-learn==1.6.1
psutil==7.0.0
pyarrow==14.0.1
xxhash==3.0.0
scipy==1.7.0
cachetools==5.0.0
srsly==2.5.1
rapidfuzz==3.12.2
tenacity==8.5.0
pydantic==2.10.6,<3
pybktree==1.0.3
